{% extends 'base.html.twig' %}

{% block menu %}
    {{ include('user/menu.html.twig') }}
{% endblock %}

{% block body %}
    {% if users|length == 0 %}
        <div class="alert alert-warning" role="alert">
            Il n'y a pas encore d'utilisateur enregistré. <a href="{{ path('user_create') }}" class="btn btn-warning pull-right">Créer un utilisateur</a>
        </div>
    {% else %}

<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Liste des Utilisateurs</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom d'utilisateur</th>
                    <th>Adresse d'email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{{ path('user_edit', {'id' : user.id}) }}" class="btn btn-success btn-sm">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    {% endif %}
    <a href="{{ path('user_create') }}" class="btn btn-primary btn-xl">Créer nouvel utilisateur</a>
    </div>
</section>
{% endblock %}
