{% extends 'base.html.twig' %}

{% block menu %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right active">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li class="page-scroll">
                <a href="{{ path('article_list') }}">Blog</a>
            </li>
            <li class="page-scroll">
                <a href="#portfolio">Modifier Article</a>
            </li>
            <li class="page-scroll">
                <a href="#about">A propos de</a>
            </li>
            <li>
                <a href="{{ path('contact') }}">Contacter</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li><a  href="{{ path('article_create') }}">Créer Article</a></li>
                <li><a  href="{{ path('logout') }}">Déconnecter</a></li>
            {% else %}
                <li><a  href="{{ path('login') }}">Se connecter</a></li>
                <li><a  href="{{ path('user_create') }}">S'inscrire</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('user_list') }}">User</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block body %}
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <h2>Modifier Article</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {{ form_start(form, {'action' : path('article_edit', { 'slug' : article.slug })}) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-success pull-right">Modifier</button>
            {{ form_end(form) }}
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a href="{{ path('article_list') }}" class="btn btn-primary btn-xl">Retourner à la liste des articles</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
