{% extends 'base.html.twig' %}

{% block menu %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right active">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li class="page-scroll">
                <a href="#portfolio">Articles</a>
            </li>
            <li class="page-scroll">
                <a href="#about">About</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="page-scroll">
                    <a href="{{ path('user_list') }}">Users</a>
                </li>
            {% endif %}
            <li class="page-scroll">
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Modifier Article</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right">Modifier</button>
        {{ form_end(form) }}

        <a href="{{ path('homepage') }}" class="btn btn-primary btn-xl">Retourner à l'accueil</a>

        </div>
    </div>
</section>
{% endblock %}
