{% extends 'base.html.twig' %}

{% block menu %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right active">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li class="page-scroll">
                <a href="#portfolio">Articles</a>
            </li>
            <li class="page-scroll">
                <a href="#about">About</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="page-scroll">
                <a href="{{ path('user_list') }}">Users</a>
            </li>
            {% endif %}
            <li class="page-scroll">
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class ="light">Liste des Articles</h2>
                <hr class="star-light">
            </div>
        </div>

        <div class="row">
        {% for article in articles %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="caption">
                    <h4><a href="{{ path('article_edit', {'id' : article.id }) }}">{{ article.title }}</a></h4>
                    <p>{{ article.content }}
                    <p><em>Auteur : {{ article.author.username }}</em></p>
                </div>
                <div>
                    <form action="{{ path('article_delete', {'id' : article.id }) }}">
                        <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                    </form>
                </div>
            </div>
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('article_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
            </div>
        {% endfor %}
        <a href="{{ path('homepage') }}" class="btn btn-primary btn-xl">Retourner à l'accueil</a>
        </div>
    </div>
</section>

{% endblock %}
