{% extends 'base.html.twig' %}

{% block menu %}
    {{ include('article/menu.html.twig') }}
{% endblock %}

{% block body %}
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ article.title }}
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a href="{{ path('article_edit', {'title' : article.title }) }}"><img src="/assets/img/update.png" alt="update" class="bottom"/></a>
                            <a href="{{ path('article_delete', {'title' : article.title }) }}"><img src="/assets/img/delete.png" alt="delete" class="bottom"/></a>
                        {% endif %}
                    </h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class = "author">
                        <em>
                            Créé par :
                            {% if article.author.avatar is not null %}
                                <img alt="{{article.author.avatar.alt}}" src="/uploads/avatars/{{ article.author.avatar.extension }}" >
                            {% endif %}
                            {% if article.author.avatar is not null %}
                            {{ article.author.username }}
                        </em>
                        {% endif %}
                    </p>
                    {% if article.image is not empty %}
                    <figure>
                        <img class="img-responsive img-centered" alt="{{article.image.alt}}" src="/uploads/images/{{ article.image.extension }}" >
                    </figure>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12 top">
                    <p>{{ article.content }}</p>
                    <hr>
                    <a href="{{ path('article_list') }}" class="btn btn-primary btn-xl">Retourner à la liste des articles</a>
                </div>
                    {# Commentaire!!! #}


            </div>
        </div>
    </section>

{% endblock %}
