{% extends 'base.html.twig' %}

{% block menu %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right active">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li class="page-scroll">
                <a href="{{ path('article_list') }}">Blog</a>
            </li>
            <li class="page-scroll">
                <a href="#portfolio">Login</a>
            </li>
            <li class="page-scroll">
                <a href="#about">About</a>
            </li>
            <li class="page-scroll">
                <a href="#contact">Contact</a>
            </li>
            <li>
                <a  href="{{ path('user_create') }}">Sign up</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Login</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-12 text-center">
            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

                <form action="{{ path('login_check') }}" method="post">
                    <label for="username">Nom d'utilisateur :</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />

                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="_password" />

                    <button class="btn btn-success" type="submit">Se connecter</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
